{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto similique, rem facere voluptates tempora, totam veniam quisquam dicta nihil labore fugit debitis! Natus nobis ut voluptates sit inventore modi, quod numquam temporibus officia velit exercitationem eveniet. Iste pariatur sint quidem nulla, saepe aut eum vero totam natus dicta reiciendis cupiditate aliquid, earum cum, necessitatibus minima nemo adipisci voluptates iure quibusdam deleniti esse? Cum velit dicta perferendis! Earum vero incidunt illo placeat reiciendis, veritatis ad atque similique impedit quas quis iusto quisquam nostrum voluptatibus aliquam eligendi doloremque eaque soluta suscipit alias aperiam? Nisi labore neque in autem et, incidunt accusamus commodi?.</p>

<p>Website created by {{ username }}</p>

{% endblock %}